* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    background-color: #121212;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 30px;
}

a {
    text-decoration: none;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 40px 30px 30px 30px;
    width: 230px;
    border: solid 0.0625rem;
    border-color: #383838;
    background-color: #1E1E1F;
    border-radius: .625rem;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#nom {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    color: white;
}



#profession {
    color: white;
    margin-top: 15px;
    background-color: #2B2B2C;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 300;
}

.info p {
    font-family: 'Montserrat', Courier, monospace;
}

.pdp {
  height: 9.375rem;
  width: 9.375rem;
  border-radius: 0.625rem;
}

.trait {
    background-color: rgb(56, 56, 56);
    width: 100%;
    height: 1px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.icon-box img {
    height: 18px;
    width: 18px;
}

.icon-box {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202022;
    border: 1px solid;
    border-color: #383838;
    border-radius: 10px;
    box-sizing: border-box;
}

.contact-info {
    margin-left: 15px;
}

.contact-titre {
    color: rgba(214, 214, 214, 0.7);
    font-size: 13px;
}

.contact-link {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', Courier, monospace;
    display: block;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap; 
}

.contact-link p {
    text-overflow: ellipsis;
}

.info-item {
    display: flex;
    align-items: center;
    max-width: 230px;
    overflow: hidden;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: flex-start;
}

.contact-info a {
    text-overflow: ellipsis;
}

.reseaux img {
    height: 1.125rem;
    width: 1.125rem;
}

.reseaux {
    padding-top: 20px;
    display: flex;
    gap: 15px;
}

.main-container {
    background-color: #1E1E1F;
    width: 60vw;
    max-width: 1000px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    border: solid 0.0625rem;
    border-color: #383838;
    border-radius: 10px;
}

.content {
    padding-bottom: 50px;
}

.nav-button.active {
    font-weight: 700;
    color: rgb(156, 39, 176);
}

.nav-button:hover {
    border-radius: 10px;
    background-color: #454545;
    border-radius: 0px 0px 10px 10px;
}

.nav-button {
    font-family: 'Montserrat', Courier, monospace;
    padding: 20px 40px;
    border: none;
    color: white;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trait-vertical {
    width: 1px;
    height: 30px;
    background-color: #383838;
}

.sommaire {
    justify-content: center;
    background-color: #282829;
    border-radius: 0px 0px 10px 10px;
    border: 0px 1px 1px 1px solid;
    border-color: #383838;
    gap: 10px;
    align-items: center;
    display: flex;
}

.separator {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: #454545;
    width: 750px;
    height: 1px;
}

.light-text a {
    color: rgb(156, 39, 176);
    font-weight: 500;
}

.markdown-content {
    color: white;
    width: 800px;
    font-family: 'Montserrat', Courier, monospace;
}

.mini-trait {
    margin-top: 15px;
    width: 80px;
    border-radius: 50px;
    height: 8px;
    background-color: rgb(156, 39, 176);
}

.light-text {
  font-weight: 250;
  text-align: justify;
}
