<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio Amin</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body>

        <section class="info">
            <img class="pdp" src="{{ '/assets/pfp.jpg' | relative_url }}" alt="Dessin d'Amin"/>
            <p id="nom">Amin Maghraoui</p>
            <p id="profession">Développeur Web</p>
            <div class="trait"></div>

            <ul class="info-box" style="list-style-type: none;">
                <li class="info-item">
                    <div class="icon-box">
                    <img src="{{ '/assets/mail.svg' | relative_url }}"/>
                    </div>
                    <div class="contact-info">
                    <p class="contact-titre">Email :</p>
                    <a href="mailto:amin.maghr@gmail.com" class="contact-link">amin.maghr@gmail.com</a>
                    </div>
                </li>
                <li class="info-item">
                    <div class="icon-box">
                    <img src="{{ '/assets/phone.svg' | relative_url }}"/>
                    </div>
                    <div class="contact-info">
                    <p class="contact-titre">Téléphone :</p>
                    <p class="contact-link">+33 6 60 34 22 62</p>
                    </div>
                </li>
                <li class="info-item">
                    <div class="icon-box">
                    <img src="{{ '/assets/calendar.svg' | relative_url }}"/>
                    </div>
                    <div class="contact-info">
                    <p class="contact-titre">Date de Naissance :</p>
                    <p class="contact-link">18 aout 2003</p>
                    </div>
                </li>
                <li class="info-item">
                    <div class="icon-box">
                    <img src="{{ '/assets/map-pin.svg' | relative_url }}"/>
                    </div>
                    <div class="contact-info">
                    <p class="contact-titre">Localisation :</p>
                    <p class="contact-link">Drancy,<br>Seine-Saint-Denis</p>
                    </div>
                </li>
            </ul>

                <div class="reseaux">
                <a target="_blank" href="https://x.com/LeKoune_"><img src="{{ '/assets/twitter.svg' | relative_url }}"></a>
                <a target="_blank" href="https://www.instagram.com/lekoune_/"><img src="{{ '/assets/instagram.svg' | relative_url }}"></a>
                <a target="_blank" href="https://github.com/ArobaseKoune"><img src="{{ '/assets/github.svg' | relative_url }}"></a>
                </div>
        </section>

        <div class="main-container">

            <nav class="sommaire">

                    <a href="{{ '/' | relative_url }}" class="nav-button {% if page.url == '/' %}active{% endif %}">Accueil</a>
                    <div class="trait-vertical"></div>
                    <a href="{{ '/about/' | relative_url }}" class="nav-button {% if page.url == '/about/' %}active{% endif %}">Parcours</a>
                    <div class="trait-vertical"></div>
                    <a href="{{ '/project/' | relative_url }}" class="nav-button {% if page.url == '/project/' %}active{% endif %}">Projets</a>
                    <div class="trait-vertical"></div>
                    <a href="{{ '/contact/' | relative_url }}" class="nav-button {% if page.url == '/contact/' %}active{% endif %}">Contact</a>

            </nav>

            <div class="separator"></div>

            <section class="content">
                <div class="markdown-content">
                {{ content }}
                </div>
            </section>

        </div>

    </body>
</html>
